.cabecalho {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em;
  transition: all ease-in-out;

}

.botao--menu {
  padding: 1em;
  background-color: var(--branco);
  border-radius: 50%;

}

.cabecalho__menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in;


  gap: 5em;
  position: absolute;
  top: 0;
  left: -100%;
  font-size: 1.2em;
  width: 80vw;
  height: 100vh;
  background-color: rgb(4, 36, 111);
  transition: 500ms ease-in;
}

.cabecalho__menu.aberto {
  left: 0;
}

.cabecalho__menu-link {
  text-transform: uppercase;
  color: var(--font);
  padding-bottom: 0.0em;
  transition: ease-in;
  text-shadow: 1px 1px 10px rgb(20, 138, 248);
  transition: 500ms;
  border-bottom: 3px solid transparent;
}

i {
  margin: 10px;
}

.cabecalho__menu-link:hover {
  transition: 500ms;
  border-bottom: 3px solid rgb(20, 138, 248);
  border-radius: 10px;
}

.botao-use {
  position: fixed;
  left: 0;
  margin-left: 23px;
  padding: 10px 0;
}

.button-use {
  border-radius: 10px;
  background-color: rgb(20, 138, 248);
  font-weight: bold;
  border: solid 2px rgb(20, 138, 248);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 5px rgb(20, 138, 248);
}

.button-use a {
  color: #fff;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.button-use:hover {
  transition: all 0.3s ease-in-out;
  background-color: rgb(15, 117, 212);
  border: 2px solid rgb(15, 117, 212);
  box-shadow: 0 0 5px rgb(15, 117, 212);
}

.botao {
  display: none;
}
.menu-pc a{
   background-color: rgb(4, 36, 111);
   padding: 5px;
   border-radius: 10px;
   transition: all 0.3s ease-in;
}
.menu-pc a:hover{
  transform: translateY(-2px);
  transition: all 0.3s ease-in;
  background-color: rgb(7, 53, 161);
}
.menu-pc a::after{
  transform: translateY(-15px);
}
.menu-pc li:hover{
  border-bottom: 2px solid;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.menu-pc ul {
  display: flex;
  margin: 5px;
  gap: 40px;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.3s ease-in-out;
}
  

.menu-pc li {
  color: #fff;
  transition: 0.3s ease-in;
}




@media (max-width: 768px) {
  .menu-pc {
    display: none;
  }

  .botao {
    display: block;
  }
}