
body {
  background-image: url(../img/Banner-Noticia_Telemedicina.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.conteudo {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.destaque {
  display: flex;
 
  padding: 0.5em;
  border-radius: 15%;
  margin-bottom: 100px;
}

.destaque__imagem {
  width: 150px;
  border-radius: 15%;
  box-shadow: 1px 2px 20px  rgb(4, 36, 111);
}

.destaque__titulo {
  font-family: var(--font-secundary);
  font-size: 34px;
}

#home2{
  border-bottom: 3px solid rgb(20, 138, 248);
   border-radius: 10px;
}

#section1{
  border-left: 6px solid rgb(4, 36, 111);
  text-align: center;
  color: rgb(4, 36, 111);
  text-shadow: 1px 1px 10px rgb(20, 138, 248);
  width: 60%;
  margin-bottom: 20%;
  border-radius: 15px;
  box-shadow: 2px 0px 20px rgb(20, 138, 248);
  padding: 20px;
  cursor: pointer;

  background-color: rgba(0, 0, 0, 0.2);
  }
  #section1 h2{
    font-weight: bold;
    font-size: 3lvh;
  }
 .social{
   width: 25%;
   text-align: center;
 }
 @media (max-width: 768px) {
  .body{
   overflow: hidden;
  }
  .cabecalho{
    background-image: url(../img/arrow_back_white_24dp.svg);
  }
}
