body {
  background-image: url(../img/Banner-Noticia_Telemedicina.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.conteudo {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.destaque {
  display: flex;
  border-radius: 15%;
  justify-content: center;
  margin-bottom: 60px;
}
.destaque__imagem {
  width: 50%;
  border-radius: 15%;
}
#home2 {
  border-bottom: 3px solid rgb(20, 138, 248);
  border-radius: 10px;
}

#section1 {
  border-left: 6px solid rgb(4, 36, 111);
  text-align: center;
  color: white;
  text-shadow: 1px 1px 10px rgb(20, 138, 248);
  width: 60%;
  border-radius: 15px;
  box-shadow: 8px 007px rgb(4, 36, 111);
  padding: 20px;
  cursor: pointer;
  margin-bottom: 250px;

  background-color: rgba(0, 0, 0, 0.2);
}
.title{
    color: white;
    text-shadow: 2px 004px rgb(4, 36, 111);
  }

#section1 h2,
h1 {
  font-weight: bold;
  font-size: 3lvh;
  margin: 5px;

}

@media (max-width: 768px) {
  .body {
    overflow: hidden;
  }
  #section1{
    margin-bottom: 200px;
  }
  .social {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

