body {
  background-image: url(../img/Banner-Noticia_Telemedicina.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.conteudo {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.destaque {
  display: flex;
  border-radius: 15%;
  justify-content: center;
}

.destaque__imagem {
  width: 50%;
  border-radius: 15%;
}

#home2 {
  border-bottom: 3px solid rgb(20, 138, 248);
  border-radius: 10px;
}

#section1 {
  border-left: 6px solid rgb(4, 36, 111);
  text-align: center;
  color: rgb(4, 36, 111);
  text-shadow: 1px 1px 10px rgb(20, 138, 248);
  width: 60%;
  border-radius: 15px;
  box-shadow: 2px 0px 20px rgb(20, 138, 248);
  padding: 20px;
  cursor: pointer;
  margin-bottom: 250px;

  background-color: rgba(0, 0, 0, 0.2);
}

#section1 h2,
h1 {
  font-weight: bold;
  font-size: 3lvh;
  margin: 5px;

}

.social {
  width: 25%;
  text-align: center;
}

@media (max-width: 768px) {
  .body {
    overflow: hidden;
  }
}

