body{
  background-image: url(../img/Banner-Noticia_Telemedicina.png);
  background-size: cover;
}
#produto2{
  border-bottom: 3px solid rgb(20, 138, 248);
   border-radius: 10px;
}
section {
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 2px 0px 20px rgb(20, 138, 248);
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

#section1{
border-left: 5px solid rgb(4, 36, 111);
text-align: center;
color: rgb(4, 36, 111);
text-shadow: 1px 1px 10px rgb(20, 138, 248);
}
#section2{
  border-left: 5px solid rgb(4, 36, 111);
  color: rgb(4, 36, 111);
  text-shadow: 1px 1px 10px rgb(20, 138, 248);
}
select{
  width: 20%;
  background: transparent;
  cursor: pointer;
  margin: 10px;
  display: flex;
}
.op{
  text-align: center;
}
input{
    border: 0px;
    border-bottom: 3px solid rgb(4, 36, 111);
    background-color: transparent   ;
    border-radius: 4px;
    margin: 15px;
}
input::placeholder {
  color: black;
}

.cta-buttons {
  text-align: center;
  margin-top: 20px;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  background-color:rgb(4, 36, 111);
  border-radius: 5px;
  transition: all 0.3s ease-in;
}
.button:hover{
background: transparent;
transition: all .4s;
border: 2px solid rgb(4, 36, 111);
}
.a1{
  color: white;
}
@media (max-width: 480px) {
  body{
     overflow: hidden;
  }
}