.proposta a{
    text-shadow: 1px 1px 10px red;
    transition: 500ms;
    transform: scale(1.1);
    font-size: 2lvh; 
}
#section2{
    border-left: 5px solid rgb(4, 36, 111);
    text-align: center;
    color: rgb(4, 36, 111);
    text-shadow: 1px 1px 10px rgb(20, 138, 248);
  }

.pro{
    width: 100%
    border-raidus: 15px;
}
