.sobre a{
    text-shadow: 1px 1px 10px red;
    transition: 500ms;
    transform: scale(1.1);
    font-size: 2lvh; 
}
.equipe{
    width: 100%;
    border-radius: 15px
}
#rodape1{
    text-align: center;
    background-color: rgb(4, 36, 111);
    color: #fff;
    padding: 20px;
    position: relative;
    width: 100%;
    bottom: 0;
}
.p2{
    color: rgb(4, 36, 111);
    font-weight: bold;
}
@font-face {
    font-family: 'Cocobiker';
    src: local('Cocobiker Bold'), local('Cocobiker-Bold'),
        url('CocoBikeR-Bold.woff2') format('woff2'),
        url('CocoBikeR-Bold.woff') format('woff'),
        url('CocoBikeR-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
